<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<h1>Employees</h1>
<form method="get">
    <input type="text" name="search" placeholder="Search employees" value="{{.SearchTerm}}">
    <input type="submit" value="Search">
</form>
<a href="/add">Add Employee</a>
<ul>
    {{range .Employees}}
    <li>
        <a href="/view/{{.ID}}">{{.Name}}</a>
    </li>
    {{end}}
</ul>

<div>
    {{if gt .CurrentPage 1}}
    <a href="/?page={{sub .CurrentPage 1}}&search={{.SearchTerm}}">Previous</a>
    {{end}}
    Page {{.CurrentPage}} of {{.TotalPages}}
    {{if lt .CurrentPage .TotalPages}}
    <a href="/?page={{add .CurrentPage 1}}&search={{.SearchTerm}}">Next</a>
    {{end}}
</div>
</body>
</html>